/*style.cssにするとバグるので、main.cssに*/
body {
  background-color: black;
  color: white;
}

/*選択禁止*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*ナビゲーションバー用*/
.nav-link {
  data-toggle="collapse" data-target=".navbar-collapse.show";
}

/*リンク付き画像半透明化*/
a:hover img {
  transition: .3s; /*透明化までの時間*/
  opacity: 1; /*透明度*/
  filter: alpha(opacity=60); /*IE用透明度*/
  -moz-opacity:0.6; /*旧FireFox用*/
}

/*電車のサムネ用*/
.train-thumb {
  background-color: white;
  max-width: 100%;
  height:auto;
  object-fit: cover;
  opacity: 0.6;

  position: relative; /*相対位置*/
  /*装飾*/
  display: inline-block;
  border: 4px solid #fff;
  border-radius: 4px;
}

/*画像上のテキスト*/
.ontext {
  position:	absolute; /* 絶対位置指定 */
  width:	60%;
	font-size:	130%;
	text-align:	center;
  left:     25px; /*左*/
	bottom:		10px; /*下*/

	color:		#fff;
	background:	rgba(0,0,0,0.3); /* 帯の透明度 */
}
