/*東武10000系列用*/

#tobu10000{
  position: relative;
  width: 256px;
  height: 192px;
  border: 0px solid black;
  margin: 0 auto;
  overflow: hidden;
}

.tobu-thumb {
  position: absolute;
  width: 128px;
}

.tobu-gradient {
  position: absolute;
  z-index: 3;
  margin: 0;
  height: 192px;
  width: 256px;
  background: -moz-linear-gradient(top, #000, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, #000);
  background: -webkit-linear-gradient(top, #000, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, #000);
  background: linear-gradient(to bottom, #000, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, #000);
}
