/*方向幕のサムネサイズ*/
.rollsign-thumb {
  position: absolute;
  width: 128px;
  left: 0px;
  margin: 0px;
  display: inline-block;
}

/*方向幕レイヤー*/
.tobu_layer {
  position: relative;
  z-index: 2;
  border: 1px solid black;
  height: 192px;
  width: 128px;
  overflow: hidden;
}

.gradient_layer {
  position: relative;
  z-index: 3;
  height: 192px;
  width: 128px;
  background: -moz-linear-gradient(top, #000, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, #000);
  background: -webkit-linear-gradient(top, #000, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, #000);
  background: linear-gradient(to bottom, #000, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, #000);
}
