{% extends "layout.html" %}
{% block content %}
<title>E233系3000番台</title>

<head>
  <!-- For Rollsign Page -->
  <link href="/static/css/rollsign.css" rel="stylesheet">
</head>

<body>
  <div id="train-name" class="m-4">
    <div class="container">
      <h3>E233系3000番台</h3>
    </div>
  </div>

  <div class="rollsign">
    <div class="container">
      <div class="row">
        <div id="rollsign-preview" class="col-xs-12">

          <div id="rollsign-kind" class="col-xs-12">

          </div>
          <div id="rollsign-destination" class="col-xs-12">

          </div>
          <div id="rollsign-line" class="col-xs-12">

          </div>
          <div id="rollsign-single" class="col-xs-12">

          </div>
        </div>
      </div>
    </div>
    <script src="/static/js/main.js"></script>
</body>
{% endblock %}
