{% extends "layout.html" %}
{% block content %}
<title>E233系3000番台</title>

<head>
  <!-- For Rollsign Page -->
  <link href="/static/css/rollsign.css" rel="stylesheet">
</head>

<body>
  <div style="margin: 20px 20px;">
    <div class="container">
      <div class="row">
        <h4>E233系3000番台</h4>
      </div>
      <div class="row">
        <button type="button" class="btn btn-sm btn-outline-light" id="change-btn" style="display: inline-block;">表示切替</button>
        <div class="custom-control custom-checkbox" style="display: inline-block; margin: 0px 20px;">
          <input type="checkbox" class="custom-control-input" id="ck-alternate">
          <label class="custom-control-label" for="ck-alternate">交互表示</label>
        </div>
      </div>
    </div>
  </div>

  <div class="train-name" id="E233-3000">

    <div class="layer">
      <!-- グラデーション -->
      <div class="gradient"></div>
      <!-- 種別・行先画像 -->
      <img src="/static/images/E233-3000_type.png" id="type" class="E233-type-thumb" style="">
      <img src="/static/images/E233-3000_dest.png" id="destination" class="E233-dest-thumb" style="left: 96px;">
      <img src="/static/images/E233-3000_line.png" id="line" class="E233-dest-thumb" style="left: 256px;">

      <!-- 種別移動用ボタン -->
      <div id="type-down" class="roll-btn tobu-up" style="top: 16px; left: 0px;"></div>
      <div id="type-up" class="roll-btn tobu-down" style="bottom: 16px; left: 0px;"></div>
      <!-- 行先移動用ボタン -->
      <div id="dest-down" class="roll-btn tobu-up" style="top: 16px; left: 128px;"></div>
      <div id="dest-up" class="roll-btn tobu-down" style="bottom: 16px; left: 128px;"></div>
    </div>

    <div class="layer">
      <!-- グラデーション -->
      <div class="gradient"></div>
      <!-- 種別・行先画像 -->
      <img src="/static/images/E233-3000_overall.png" id="overall" class="overall-thumb" style="">
      <!-- 全面表示移動用ボタン -->
      <div id="overall-down" class="roll-btn overall-up" style="top: 16px; left: 0px;"></div>
      <div id="overall-up" class="roll-btn overall-down" style="bottom: 16px; left: 0px;"></div>
    </div>
  </div>
  <!-- 行先表示用 -->
  <script src="/static/js/rollsign.js"></script>

</body>

{% endblock %}