{% extends "layout.html" %}
{% block content %}
<title>E233系3000番台</title>

<head>
  <!-- For Rollsign Page -->
  <link href="/static/css/rollsign.css" rel="stylesheet">
</head>

<body>
  <div id="train-name" class="m-4">
    <div class="container">
      <h3>E233系3000番台</h3>
    </div>
  </div>

  <div class="rollsign">
    <div class="container">
      <div class="row">
        <div id="rollsign-1" class="col-xs-12">
          <div class="roll-back mx-4 my-2">
            <img src="/static/images/local.png" class="rollsign-thumb mx-3" alt="local.png">

            <img src="/static/images/utsunomiya.png" class="rollsign-thumb mx-3" alt="utsunomiya.png">
          </div>
          <div class="roll-main mx-4 my-2">

            <img src="/static/images/local.png" class="rollsign-thumb mx-3" alt="local.png">

            <img src="/static/images/utsunomiya.png" class="rollsign-thumb mx-3" alt="utsunomiya.png">

          </div>
          <div class="roll-next mx-4 my-2">
            <img src="/static/images/local.png" class="rollsign-thumb mx-3" alt="local.png">

            <img src="/static/images/utsunomiya.png" class="rollsign-thumb mx-3" alt="utsunomiya.png">
          </div>
        </div>
        <div class="kind col-xs-0 col-lg-1"></div>

        <div id="rollsign-2" class="col-xs-12">
          <div class="kind m-4">

            <img src="/static/images/local.png" class="rollsign-thumb m-3" alt="local.png">

            <img src="/static/images/utsunomiya.png" class="rollsign-thumb m-3" alt="utsunomiya.png">

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
