{% extends "layout.html" %}
{% block content %}
<title>東武10000系列</title>

<head>
  <!-- For Rollsign Page -->
  <link href="/static/css/rollsign.css" rel="stylesheet">
</head>

<body>
  <div id="train-name" class="m-4">
    <div class="container">
      <h3>東武10000系列</h3>
    </div>
  </div>
  <div class="container">
    <p class="m-4">種別:xxx 行先:xxx</p>
  </div>

  <div id="rollsign" class="container">
    <div class="col-6 float-right">
      <img src="/static/images/tobu_10000_type.png" class="rollsign-thumb" style="top: 0px;">
    </div>
    <p>fff</p>
    <div class="col-6 float-right">
      <img src="/static/images/tobu_10000_type.png" class="rollsign-thumb" style="top: 0px;">
      <p class="gradient_layerxxxxx"></p>
    </div>
  </div>
</body>
{% endblock %}
