{% extends "layout.html" %}
{% block content %}
<title>東武10000系列</title>

<head>
  <!-- For Rollsign Page -->
  <link href="/static/css/rollsign.css" rel="stylesheet">
</head>

<body>
  <div style="margin: 20px 20px;">
    <div class="container">
      <h4>東武10000系列</h4>
      <p>本線・野田線仕様</p>
    </div>
  </div>
  <div class="train-name" id="tobu_10000">
    <div class="layer">
      <!-- グラデーション -->
      <div class="gradient"></div>
      <!-- 種別・行先画像 -->
      <img src="/static/images/tobu_10000_type.png" id="type" class="tobu-thumb" style="">
      <img src="/static/images/tobu_10000_dest.png" id="destination" class="tobu-thumb" style="left: 128px;">
      <!-- 種別移動用ボタン -->
      <div id="type-up" class="btn tobu-up" style="top: 16px; left: 0px;"></div>
      <div id="type-down" class="btn tobu-down" style="bottom: 16px; left: 0px;"></div>
      <!-- 行先移動用ボタン -->
      <div id="dest-up" class="btn tobu-up" style="top: 16px; left: 128px;"></div>
      <div id="dest-down" class="btn tobu-down" style="bottom: 16px; left: 128px;"></div>
    </div>

    <div class="layer">
      <!-- グラデーション -->
      <div class="gradient"></div>
      <!-- 種別・行先画像 -->
      <img src="/static/images/tobu_10000_overall.png" id="overall" class="overall-thumb" style="">
      <!-- 全面表示移動用ボタン -->
      <div id="overall-up" class="btn overall-up" style="top: 16px; left: 0px;"></div>
      <div id="overall-down" class="btn overall-down" style="bottom: 16px; left: 0px;"></div>
    </div>
  </div>
  <!-- 行先表示用 -->
  <script src="/static/js/rollsign.js"></script>
</body>

{% endblock %}